<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EBTGradientProgressViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7DEA8BC81E03921D00B43F33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DEA8BE11E03921E00B43F33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DEA8BEC1E03921E00B43F33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
